
/* importer la feuille de style elements.css ici */


/* Placer vos styles ici */
.titredepage{font-family: snicklesorangina-regular;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    font-size: 90px;
    color: rgb(8, 36, 87);
    margin: 0;
   
   }
.titredesecttion{
    font-family: snicklesorangina-regular;
    font-weight: 500;
    line-height: 1.1;
    text-align: left;
    font-size: 30px;
    color:orange;
    font-style: italic;
    
}
.mainindex{
   background-color:rgb(8, 36, 87);
    font: 14px/20px Arial, San-Serif;
    color: rgb(214, 226, 235); 
    
}
.sectionindex{
       
        margin: 10px !important; 
        padding-block-end: 200px !important; 
        background-image : url('/assets/images/orangina.jpg');
        background-repeat: no-repeat;
    }
    .produit
    {
        background-image : url(../assets/images/orangina.jpg);
        background-size: 300px 100px;
        background-repeat: no-repeat;
    }
.head
{
    padding: 20px;
 background-color:orange; 


}

nav ul {
     margin: 0;
    list-style: none; 
    padding: 0;}

   nav li {
     
       font-size: 17px;
       display: inline-block;
       padding-top: 10px;
       margin: 20px;
}





